.controls {
  display: flex;
  border: 1px solid var(--jd-color-border);
  border-top: 0;
  padding: 0.625rem;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 0.625rem 0;
  font-family: monospace;
}

.state-title {
  color: var(--jd-color-icon);
  text-transform: uppercase;
}

.read-only-rich {
  padding: 0.625rem;
}

:root {
  --jd-color-background-default: black;
  --jd-color-border: darkgray;
  --jd-color-panel: #9bffe1;
  --jd-color-icon: #044406;
  --jd-color-backgrounn-toolbar: black;
}
