.column-icon-style {
  margin-left: 0.5rem; /* 8px */
  height: 1rem; /* 16px */
  width: 1rem; /* 16px */
}

.column-menu-icon-style {
  margin-left: 0.5rem; /* 8px */
  margin-right: 0.5rem; /* 8px */
  height: 1rem; /* 16px */
  width: 1rem; /* 16px */
}
